!!!
%head 
	%title shortener
	%style{:type=>"text/css"} h1{color:orange; font-family: Helvetica, Arial;}

%h1 Simple Link Shortener
%form{:method=>"post"}
	%input{:type=>"text", :name=>"url"}
	%input{:type=>"submit",:value=>"Shorten!"}