!!!
%html
	%head 
		%title Link Shortener 
		%style{:type=>"text/css"} 
			h1{color:orange; font-family: Helvetica, Arial;}
			h2{color:orange; font-family: Helvetica, Arial;}
	%body
		%h1 Simple Link Shortener
		=yield